$color-1: #07234b;
// $color-2: #67a3e5;
$color-2: #4292c7;
$color-3: #e0ecfb;
$color-4: rgb(239, 247, 255);
$color-5: rgb(167, 179, 201);

body {
    margin: 0;
    color: $color-2;
    overflow-x: hidden;
    background-color: $color-3;
}
.homeContainer {
    background-color: $color-3;
}
.test{
    color: red;
}
.homeContainer {
    position: relative;
    text-align: center;
    overflow-x: hidden;
}
.banner {
    width: 100%;
    display: block;
    z-index: 1;
}
.introduction {
    margin-top: 50px !important;
    width: 75%;
    margin: auto;
    // background-color: #67a3e5;
    // color: white;
    padding: 40px;
    padding-bottom: 60px;
    border-radius: 20px;
    // box-shadow: inset 0 0 30px -15px black;
}
.introduction>h2 {
    font-size: 100px;
    margin-bottom: 40px;
    text-shadow: 7px 7px 15px rgba(55, 84, 170, .25);
}
.introduction>p {
    font-size: 25px;
    text-shadow: black;
}
.waveContainer {
    position: absolute;
    width: 100%;
    top: 25%;
    z-index: 2;
}
.page {
    position: relative;
    background: $color-3;
    z-index: 3;
}
.clouds {
    position: absolute;
    top: 6%;
    width: 50%;
    z-index: 3;
    animation: animate3 35s linear infinite;
}
.wave {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 100%;
    background-size: 700px 100px;
    z-index: 3;
}
.wave1 {
    animation: animate 30s linear infinite;
}
.wave2 {
    animation: animate2 15s linear infinite;
    opacity: 0.5;
    animation-delay: -5s;
    z-index: 4;
}
.wave3 {
    animation: animate 30s linear infinite;
    opacity: 0.2;
    animation-delay: -2s;
    z-index: 3;
}
.wave4 {
    animation: animate2 15s linear infinite;
    opacity: 0.7;
    animation-delay: -5s;
    z-index: 2;
}
@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 700px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -700px;
    }
}

@keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(200%);
    }
}

.buttonScroll {
    padding: 50px;
    margin: 50px;
    margin-bottom: 300px;
    width: 300px;
    background: none;
    border: none;
    transition: .5s;
}
.buttonScroll:hover {
    background: none;
    border: none;
    scale: (1.1);
}
.buttonScroll>img {
    filter: invert(11%) sepia(19%) saturate(7052%) hue-rotate(201deg) brightness(88%) contrast(97%);
}

.page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.imgLink {
    width: 300px;
    border-radius: 100%;
    transition: .5s;
}
.linkContainer {
    margin: 40px;
    padding: 20px;
    transition: .5s;
    text-align: center;
    font-size: 20px;
}
.linkContainer:hover{
    transform: scale(1.1);
    background-color: $color-3;
    // box-shadow: -5px -5px 5px $color-4, 5px 5px 5px $color-5;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgb(243, 247, 252),
              inset 0px 0px 4px rgba(255, 255, 255, .2),
              inset 7px 7px 15px rgba(55, 84, 170, 0),
              inset -7px -7px 20px rgba(255, 255, 255, 0),
              0px 0px 4px rgba(255, 255, 255, 0);
    border-radius: 50px;
}
.linkContainer>h3 {
    font-size: 30px;
    text-decoration: none;
    color: $color-2;
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .linkContainer {
        padding: 0;
        margin-bottom: 0;
        width: 160px;
        box-shadow: 0px 5px 10px $color-1;
        border-radius: 20px;
        padding: 20px;
        background-color: $color-2;
        color: white;
        text-align: center;
        margin: 10px;
        font-size: 13px;
    }
    .linkContainer>h3 {
        color: white;
        font-size: 20px;
    }
    .imgLink {
        width: 100px;
    }
    .waveContainer {
        display: none;
    }
    .introduction {
        width: 90%;
        height: 570px;
        padding: 20px;
    }
    .introduction>h2 {
        font-size: 40px;
    }
    .introduction>p {
        font-size: 20px;
    }
    .buttonScroll {
        display: none;
    }
}
