$color-1: #07234b;
$color-2: #67a3e5;

html, body {
    height: 100%;
    margin: 0;
}  
.services {
text-align: center;
font-size: 35px;
background-color: $color-2;
height: 100%;
}
.cards {
    display: flex;
    justify-content: center;
}
.services>h1 {
    color: white !important;
    font-size: 55px !important;
    margin: 20px !important;
}
.services>h2 {
    font-size: 35px;
    color: $color-2;
}
p {
    font-size: 20px;
}
.serviceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    text-align: justify;
    margin: 20px;
    padding: 40px;
    background-color: $color-1;
    color: $color-2;
    border-radius: 20px;
    gap: 50px;
}
.hrServices {
    width: 50%;
    height: 0px;
    border: none;
    border-top: 1px solid $color-2;
}
.spanServices {
    font-weight: bolder;
}
p {
    height: 100px;
}
.servicesText>p, .servicesText2>p {
    margin-bottom: 70px;
}

  
@media screen and (max-width: 750px) {

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .serviceCard {
        width: 90%;
        padding: 20px;
        min-height: 500px;
        text-align: center;
    }
    .spanServices {
        font-size: 20px;
    }
    .servicesText>p {
        margin-top: 150px;
        min-height: 200px;
        text-align: left;
    }
    .servicesText2>p {
        margin-top: 150px;
        min-height: 250px;
        text-align: left;
    }
    .serviceCard>button {
        width: 100px;
        height: 40px;
        font-size: 15px;
        margin-top: 150px !important;
    }

    .serviceCard .spanServices + div {
        display: none; // Hide the additional content on small screens
    }

    .serviceCard button {
        display: block; // Show the toggle button on small screens
    }
    }

    @media screen and (min-width: 751px) {
    .serviceCard .spanServices + div {
        display: block; // Always show the full content on large screens
    }

    .serviceCard button {
        display: none; // Hide the toggle button on large screens
    }
}